<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Chuck's Library</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../public/style.css">
  </head>
  <body>
    <header>
      <h1>Chuck's Library</h1>
    </header>
    <main>
      <div id="view-library-container">
        <button type="button" id="view-library-btn">
          View Library
        </button>
        <div id="results"></div>
      </div>
      <div id="row-1">
        <div id="add-book-container" class="row-1-container">
          <form>
            <fieldset>
              <legend>
                Add Book
              </legend>
              <div class="input-container">
                <label for="title" class="input-label">
                  Title
                </label>
                <input id="add-title-input" type="text" required>
              </div>
              <div class="input-container">
                <label for="author" class="input-label">
                  Author
                </label>
                <input id="add-author-input" type="text" required>
              </div>
              <div class="input-container">
                <label for="genre" class="input-label">
                  Genre
                </label>
                <input id="add-genre-input" type="text">
              </div>
              <div class="input-container">
                <label for="year-published" class="input-label">
                  Year Published
                </label>
                <input id="add-year-published-input" type="text">
              </div>
            </fieldset>
            <button type="button" id="add-book-btn">Add</button>
          </form>
        </div>
        <div id="add-comment-container" class="row-1-container">
          <form>
            <fieldset>
              <legend>
                Add Comment
              </legend>
              <div id="select-book-container">
                <label for="select-book-input">_id</label>
                <input type="text" id="select-book-input" required>
              </div>
              <label for="comment" id="comment-label">
                Comment:
              </label>
              <input type="text" id="input-comment" required>
            </fieldset>
            <button type="button" id="add-comment-btn">Add</button>
          </form>
        </div>
        <div id="find-book-container">
          <form>
            <fieldset id="find-book-fieldset">
              <legend>
                Find Book
              </legend>
              <div class="input-container">
                <label for="find-_id-input" class="input-label">
                  _id
                </label>
                <input type="text" id="find-_id-input">
              </div>
            </fieldset>
            <button type="button" id="find-btn">
              Find
            </button>
          </form>
        </div>
      </div>
      <div id="delete-container">
        <div id="delete-book-container">
          <label for="book-to-delete-input">
            Delete Book
          </label>
          <input type="text" id="delete-book-input" placeholder="_id" required>
          <button type="button" id="delete-book-btn">
            Delete
          </button>
        </div>
        <div id="delete-library-container">
          <button type="button" id="delete-library-btn">
            Delete Library
          </button>
        </div>
      </div>
    </main>
    <script src="/public/client.js">
    </script>
  </body>
</html>

